.driven-vid{
   width: 100%    !important;
   height: auto   !important
   object-fit: initial;
   min-height: 300px;
   background-color: white;
}

.video-chart{
  width: 100%;
  height : 200px;
}


body { 
  background: white;
}

html,body{
  height:100%;
}

.verticaltext {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;
    position: relative; 
  width : 200px;
  text-align: center;

  height:1em;
  left:-45px;
  bottom:-5em;
}

.gradeScore {
  border-style : solid;
  padding : 1em;
}

.text-padless { 
  margin : 0px;
}
