{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Driven</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tbody>
          <thead>
            <th>Session</th>
          </thead>
          {% for entry in urls %}
          <tr>
            <td ><a href="{{ url_for('route_report', data_dir=entry['url']) }}">{{ entry['url'] }}</a></tr>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
