{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <br/>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Driven</h1>
      </div>
    </div>
    <div class="row">
      <ol class="breadcrumb">
        <li class="active">Home</li>
      </ol>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <a class="btn btn-block btn-default" href="{{ url_for('route_report', data_dir='recent') }}">Most Recent Session</a>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Past Sessions</h2>
        <table class="table table-bordered text-center">
          <tbody>
            <thead class="text-center">
              <th class="text-center">Session Name</th>
              <th class="text-center">Session Length</th>
              <th></th>
            </thead>
          {% for entry in urls %}
          <tr>
            <td >{{ entry['title'] }}</td>
            <td >{{ entry['video_time'] }}</td>
            <td ><a class="btn btn-default btn-block" href="{{ url_for('route_report', data_dir=entry['url']) }}">View Report</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
