{% extends "layout.html" %}
{% block body %}
<head>
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="-1">
</head>
<div class="container">
  <br/>
  <div class="row">
    <div class="col-md-12 center-block">
      <h1 class="text-center" style="font-size: 3em">Session Report -- {{ video['session_name'] }}</h1>
    </div>
  </div>
  <br/>
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('route_home') }}">Home</a></li>
      <li class="active">Report</li>
    </ol>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-7 center-block">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <h2 class="text-center">Nose Position</h2>
        </div>
        <div class="col-md-1">
          <p class="verticaltext">Horizontal Position in Frame</p>
        </div>
        <div class="col-md-11 center-block">
          <canvas id="headChart" class="video-chart"></canvas>
        </div>
        <!--<h5 class="text-center">Video Time</h5>-->
      </div>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <h2 class="text-center">Wheel Angle</h2>
        </div>
        <div class="col-md-1">
          <p class="verticaltext">Steering Wheel Angle</p>
        </div>

        <div class="col-md-11 center-block">
          <canvas id="wheelChart" class="video-chart"></canvas>
        </div>
        <h5 class="text-center">Video Time</h5>
      </div>
    </div>
    <div class="col-md-5 center-block">
      <div clas="row">
        <h2 class="text-center">Video Review</h2>
        <div class="driven-vid video-js vjs-default-skin  vjs-controls-enabled vjs-has-started vjs-user-active vjs-paused">
          <video id="annotated_vid" width="320" height="240" class="vjs-tech" controls preload="auto">
          <source src="{{ url_for('static', filename=video['video_file']) }}" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="row">
        <h2 class="text-center">Summary</h2>
        <table class="table table-bordered table-hover">
          <tbody>
            <thead class="text-center">
              <th class="text-center">Event No.</th>
              <th class="text-center">Event Type</th>
              <th class="text-center">Video Time (s)</th>
              <th class="text-center">Feedback</th>
            </thead>
            {% for laneEvent in fused['laneEvents'] %}
              {% if laneEvent['sentimentGood'] %}
              <tr class="success">
              {% else %}
              <tr class="danger">
              {% endif %}
                <td class="text-center">{{ laneEvent['eventID'] }}</td>
                {% if laneEvent['eventType'] == 'left_lane_change' %}
                  <td class="text-center">Left</td>
                {% else %}
                  <td class="text-center">Right</td>
                {% endif %}
                <td class="text-center">{{ laneEvent['videoTime'] }}</td>
                <td>{{ laneEvent['sentimentReason'] }}</td>
              </tr>
            {% endfor %}
        </table>
      </div>
      <div class="row">
        {% if fused['overall'] == 'bad' %}
        <div class="col-md-offset-2 col-md-8 gradeScore bg-danger">
        {% elif fused['overall'] == 'good' %}
        <div class="col-md-offset-2 col-md-8 gradeScore bg-success">
        {% else %}
        <div class="col-md-offset-2 col-md-8 gradeScore">
        {% endif %}
            <h1 class="text-center text-padless">Grade: {{ fused['grade'] }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
   var fusedData = {{ fused|tojson }};
   var videoData = {{ video|tojson }};
</script>
<script src="{{ url_for('static', filename='VideoChart.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>



{% endblock %}
